@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

.content{
  display: none;
}

.box{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: #00254c;
  padding: 0 2%;
  min-width: 280px; 
  
}
.container {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  
}

.header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.header img{
  background-color: #ffffff;

  max-width: 200px;
}

.form {
  padding: 20px;
}

.form_control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form_control label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form_control input {
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  outline: none;

}

.form_control input:focus{
  border: 2px solid #4153ae;
}

.form_control i {
  position: absolute;
  top: 35px;
  right: 10px;
  visibility: hidden;
}

.form_control small {
  position: absolute;
  left: 10px;
  bottom: 0;
  visibility: hidden;
}

.form button {
  display: block;
  background-color: #4153ae;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
  font-weight: 500;
}

.form button:hover {
  background-color: #1d2652;
}

.form_control i.uil-eye{
  visibility: visible;
  cursor: pointer;
  color: rgb(190, 184, 184);
  right: 30px;
  z-index: 3;
}

.form_control i.uil-eye-slash{
  visibility: visible;
  cursor: pointer;
  color: rgb(190, 184, 184);
  right: 30px;
  z-index: 3;
}

.form_control.success input {
  border-color: #2ecc71;
}

.form_control.error input {
  border-color: #e74c3c;
}

.form_control.success i.uil-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form_control.error i.uil-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form_control.error small {
  visibility: visible;
  color: #e74c3c;
}
